<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<!--Tables med butik/antal paller og suppekøkkener/adresse-->
<table class="foodForCollectionTable" border="1">
    <caption>Mad tilgængeligt for afhæntning</caption>
    <thead>
    <tr>
        <th>Butik</th>
        <th>Paller</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="donorCompany : ${donorCompanys}">
        <td th:text="${donorCompany.address}">Adresse</td>
        <td th:text="${donorCompany.palletCount}">Antal</td>
    </tr>
    </tbody>
</table>

<table class="placesToDeliverFood" border="1">
    <caption>Steder maden kan afleveres</caption>
    <thead>
    <tr>
        <th>Suppekøkken adresse</th>
        <th>Behov for mad</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="soupKitchen : ${soupKitchens}">
        <td th:text="${soupKitchen.address}">Adresse</td>
        <td th:text="${soupKitchen.statusNeedNotNeed}">Antal</td>
    </tr>
    </tbody>
</table>

<!--Dropdown menu til suppekøkken-->

<form class = "needNotNeedSoupkitchen" th:action="@{/SoupKitchen}" th:object="${soupKitchen}" method="post">
    <label>Angiv behov for mad:</label>
    <select th:field="*{statusNeednotneed}">
        <option th:value="true">Mangler mad</option>
        <option th:value="false">Mangler IKKE mad</option>
    </select>
    <button type="submit">Send</button>
</form>



</body>
</html>