.lw { font-size: 60px; }


/*Styling for distributionCompany elementer*/

.wrapperTablesDistribution{
    display: flex;
    gap: 20px;
    position: absolute;
    top: 310px;
    flex: 1;
    right: 0px;

}
.layoutDashboardDistribution{
    display: flex;

}

table, th, td{
    text-align: left;
    border: 1px solid;
    border-collapse: collapse;

}
.containerDistribution{
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-line{

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

td:nth-child(2){
    padding-right: 5px;
    padding-left: 5px;
    padding-top: -10px;
}

td:nth-child(1){
    padding-right: 250px;
    padding-left: 5px;

}

td:nth-child(even){
    background-color: grey;
}

/*Vertikal linje til opdeling af siden*/

.vertical-line {
    border-left: 2px solid rgb(4, 4, 4);
    height: 600px;
    position: absolute;
    right: 795px;
    bottom: 0;


/*Styling af ændring af egne oplysninger*/

}

.form-column {
    display: flex;
    flex-direction: column;
    width: 300px;
    position: absolute;
    bottom: 200px;
}

.form-column label {
    bottom: 0px;
}

.form-column input {
    padding: 5px;
    margin-bottom: 10px;
}

/*styling af dropdown til soupkitchen*/


.dropDownSoupKitchen{
    display: flex;
    position: absolute;
    right: 200px;
    bottom: 500px;
}

/*styling af indtastning af paller donocompanuy*/

.donorCompanyPallets{
    display: flex;
    position: absolute;
    right: 200px;
    bottom: 500px;
}

/* styling af horizontal linje */
.horizontal-line{
    height: 2px;
    background-color: black;
    width: 100vw;
    margin: 0px;
    bottom: 599px;
    position: absolute;
    border: none;
    left: 0px;
}

