.lw { font-size: 60px; }


/*Styling for distributionCompany elementer*/

.wrapperTablesDistribution{
    display: flex;
    gap: 20px;
    position: absolute;
    top: 600px;
    left: 100px;

}

table, th, td{
    text-align: left;
    border: 1px solid;
    border-collapse: collapse;

}
.containerDistribution{
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-line{

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

td:nth-child(2){
    padding-right: 5px;
    padding-left: 5px;
    padding-top: -10px;
}

td:nth-child(1){
    padding-right: 250px;
    padding-left: 5px;

}

td:nth-child(even){
    background-color: grey;
}