.lw { font-size: 60px; }


/*Styling for distributionCompany elementer*/



.wrapperTablesDistribution{
    display: flex;
    gap: 20px;
    width: auto;
    top: 440px;
    right: 200px;
    caption-side: top;

}
.layoutDashboardDistribution{
    display: flex;

}


caption{
    caption-side: top;
    font-weight: bold;
    color: black;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

table, th, td{

    text-align: left;
    border: 1px solid #333;


}
.containerDistribution{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.single-line{

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

td:nth-child(2){
    padding-right: 5px;
    padding-left: 5px;

}

th:nth-child(1),
td:nth-child(1){
    padding-right: 250px;
    padding-left: 25px;

}

tr:nth-child(even){
    background-color: lightgray;
}

/*Vertikal linje til opdeling af siden*/

.vertical-line {

    border-left: 2px solid rgb(4, 4, 4);
    height: 600px;

    left: 30%;
    bottom: 0;




}

.form-column {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 300px;

    bottom: 100px;
    left: 10px;

}

.form-column label {
    bottom: 0px;
}

.form-column input {
    padding: 5px;
    margin-bottom: 10px;
}

/*styling af dropdown til soupkitchen*/


.dropDownSoupKitchen{
    display: flex;
    position: absolute;
    right: 200px;
    bottom: 500px;
}

/*styling af indtastning af paller donocompanuy*/

.donorCompanyPallets{
    display: flex;
    position: absolute;
    right: 200px;
    bottom: 500px;
}



html, body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.dashboard-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: none;
    margin: 0;
    gap: 4rem;

}

.site-footer {
    background: #f8f9fa;
    padding: 2rem 1rem;
    text-align: center;
}

.left-elements{
    flex: 1;
    display: flex;
    margin-left: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin-right: 30px;
    gap: 8rem;
}
.right-elements{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}
.horizontal-line {
    height: 2px;
    background: black;
    width: 100%;
    margin-top: 2rem;
    opacity: 1;
    margin-bottom: 0;

}