.lw { font-size: 60px; }

.wrapperTables{
    display: flex;
    gap: 20px;

}

table, th, td{

    border: 1px solid;
    border-collapse: collapse;

}

.single-line{

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

td:nth-child(2){
    padding-right: 5px;
    padding-left: 5px;
    padding-top: -10px;
}

td:nth-child(1){
    padding-right: 250px;
    padding-left: 5px;

}